// This is where you can import other stylesheets or write your scss code
//@import "../../node_modules/bootstrap/scss/bootstrap";

@import 'config';
@import 'menu';

:root {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @include background();
  font-size: 1.6rem;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-weight: 400;

  &.lg-heading {
    font-size: 9.6rem;
  }

  &.sm-heading {
    margin-bottom: 3.2rem;
    padding: 0.5rem 1.6rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: $primary-color;

  .logo-link img {
    display: inline-block;
    margin-left: 2rem;
  }
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 6.4rem;
  min-height: calc(100vh - 6rem);

  .icons {
    margin-top: 1.6rem;

    a {
      padding: 0.6rem;
      @include easeOut();

      &:hover {
        color: $secondary-color;
      }
    }
  }

  &#home {
    overflow: hidden;
    max-width: 120rem;
    margin: auto;

    h1 {
      margin-top: 20vh;
    }

    #contact-me-button {
      border: 0.25rem solid #fff;
      border-radius: 0.3rem;
      padding: 0.5rem 1rem;
      display: inline-block;
      margin-top: 3rem;
      font-size: 2.2rem;
      font-weight: 600;
      background-color: $secondary-color;
      color: #444;
      @include easeOut();

      &:hover {
        background-color: #fff;
        border-color: $secondary-color;
      }
    }
  }

  &#about {
    max-width: 120rem;
    margin: auto;
    min-height: 100vh;

    .lg-heading {
      margin-top: 5vh;
    }

    .sm-heading {
      max-width: 110rem;
      margin: auto;
      text-align: justify;
    }
  }

  &#work {
    max-width: 120rem;
    margin: auto;
    min-height: 100vh;

    h1 {
      margin-top: 5vh;
    }
  }

  &#contact {
    max-width: 120rem;
    margin: auto;
    min-height: 100vh;

    h1 {
      margin-top: 5vh;
      margin-bottom: 2rem;
    }

    h2 {
      margin-bottom: 2.5rem;
    }
  }
}

//About Page
.skills-container {
  max-width: 90rem;
  margin: auto;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 3rem;

  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    i {
      font-size: 6rem;
      margin-bottom: 0.4rem;
    }

    p {
      @include easeOut();

      &:hover {
        color: $secondary-color;
      }
    }

    .devicon-bootstrap-plain {
      color: rgb(165, 72, 189);
    }

    .redux-logo {
      width: 6rem;
      margin-bottom: 0.4rem;
    }
  }
}

//Work page

main#work .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 3rem;
  color: #000;

  .card {
    position: relative;
    width: 30rem;
    height: 21.5rem;
    background-color: #eee5e9;

    border-radius: 0.4rem;
    margin: 4rem 1rem;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;

    &:hover {
      height: 42rem;

      .content {
        visibility: visible;
        opacity: 1;
        margin-top: -4rem;
        transition-delay: 0.2s;
      }
    }

    .imgBx {
      position: relative;
      width: 26rem;
      //height: 26rem;
      top: -6rem;
      left: 0.5rem;
      z-index: 5;

      img {
        max-width: 100%;
        border-radius: 0.4rem;
      }
    }

    .content {
      position: relative;
      margin-top: -14rem;
      padding: 1rem 1.5rem;
      text-align: center;
      color: #111;
      visibility: hidden;
      opacity: 0;
      transition: 0.3s ease-in-out;

      h2 {
        margin-top: -2rem;
        margin-bottom: 1rem;
        line-height: 2.8rem;
        font-weight: 700;
      }

      p {
        margin-bottom: 1.3rem;

        span {
          display: inline-block;
          margin-top: 0.5rem;
        }
      }
    }
  }
}

//Contact Page

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem 0 2rem 0;

  div {
    border: 0.3rem solid #fff;
    font-size: 2rem;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut();

    &:hover {
      padding: 0.5rem 1.5rem;
      background-color: $secondary-color;
      color: set-text-color($secondary-color);

      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 60rem;
  margin: auto;

  input[type='text'],
  input[type='email'],
  textarea {
    margin-bottom: 1.5rem;
    padding: 1.2rem 1.8rem;
    border: 0.1rem solid $primary-color;
    border-radius: 0.8rem;
    outline: none;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;

    &:hover,
    &:hover,
    &:hover {
      border: 0.1rem solid $secondary-color;
    }

    &:focus,
    &:focus,
    &:focus {
      border: 0.2rem solid $secondary-color;
      box-shadow: inset 0 0 0.5rem rgba(30, 30, 30, 0.2);
      outline: none;
    }
  }

  .submit-button {
    padding: 1.2rem;
    text-transform: uppercase;
    outline: none;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    border: 0.25rem solid #fff;
    font-size: 2.2rem;
    font-weight: 600;
    background-color: $secondary-color;
    color: #444;
    @include easeOut();

    &:hover {
      background-color: #fff;
      border-color: $secondary-color;
    }
  }
}

//Button Styles

.btn {
  display: block;
  padding: 0.5rem 1rem;
  margin-bottom: 0.3rem;

  &:hover {
    background-color: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background-color: darken($color: $primary-color, $amount: 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background-color: lighten($color: $primary-color, $amount: 50);
  color: #000;
  font-weight: 500;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background-color: darken($color: $primary-color, $amount: 10);
  color: set-text-color($primary-color);

  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 0;

    .icons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      a {
        margin-bottom: 2.5rem;

        i {
          vertical-align: middle;
          @include easeOut();

          &:hover {
            color: $secondary-color;
          }
        }
      }
    }

    .contact-container {
      display: flex;
      flex-direction: column;
      margin: 3rem 0;

      i {
        margin-bottom: 2rem;
        font-size: 1.9rem;
      }
    }

    p {
      margin: 2.5rem 0 1rem 0;
    }
  }
}

@import 'mobile';
